<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing profile</h1>

  <%= render "form", profile: @profile %>

  <%= index_profiles_button %>
  <%= show_profile_button(@profile) %>
</div>
