<div class="flex items-center justify-center h-screen mx-auto my-0 mt-[-20%]">
  <div class="text-center max-w-md p-9 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-8">Login to Git Reps</h1>
    <div class="mb-6">
      <%= button_to user_github_omniauth_authorize_path, class: "py-2 px-4 max-w-full flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg", id: "github-oauth-button" do %>
        <%= image_tag "https://assets.stickpng.com/images/5847f98fcef1014c0b5e48c0.png", alt: "GitHub Icon", class: "mr-2", width: 30, height: 30 %>
        Sign up with GitHub
      <% end %>
    </div>
    <div class="flex justify-center items-center text-gray-400">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

