<div class="w-full">

  <h1 class="font-bold text-4xl">Api request</h1>

  <div class="flex justify-between items-center">
    <%= link_to 'My API Requests', github_explorer_api_requests_path, class: "text-blue-600" %>
    <%= link_to 'New api request', new_github_explorer_api_request_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= tag_show_item(@github_explorer_api_request) %>
</div>
